* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background: #eee;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

.solar-container {
    clear: both;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: #ddd;
    padding: 15px;
    max-width: 600px;
}

.cell {
    /* 100% / 23 cols = 4.347...% */
    width: 4.34782608696%;
    padding-top: 4.34782608696%;
    background-color: #eee;
    border-radius: 5px;
}

.on {
    background-color: #D32F2F;
    transition: background-color: 0.5s;
    border-radius: 3px;
}

.on:hover {
    background-color: #FFD54F;
}

.on:hover > .donor-name {
    display: block;
}

.donor-name {
    display: none;
    position: absolute;
    padding: 1rem;
    margin-top: 2rem;
    background-color: white;
}

.blank {
    background-color: #ddd;
}

.container {
    max-width: 960px;
    margin: auto;
}

#logo{
    display: block;
    margin: 2rem auto;
    height: 5rem;
}